/* Your styles goes here. */
.toolbar {
    background-color: #eed484;
}

.side-nav{
    
    h2{
        padding-left: 1rem;
    }

    li{
        cursor: pointer;
    }

    .list-item-text{
        padding-left: 1rem;
    }

}